In [1]:
%load_ext sql
import pandas as pd
%sql sqlite://

'Connected: None@None'

In [2]:
# For compatibility across multiple platforms
import os
IB = os.environ.get('INSTABASE_URI',None) is not None
open = ib.open if IB else open

In [3]:
# Load tables from CSV files
# Compas Score
with open('compas-scores.csv','rU') as f:
    Scores = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql drop table if exists Scores;
%sql persist Scores

Done.

u'Persisted scores'

In [4]:
%%sql
select * from Scores limit 5

Done.

[(1, u'miguel hernandez', u'miguel', u'hernandez', u'2013-08-14', u'Male', u'1947-04-18', 69, u'Greater than 45', u'Other', 0, 1, 0, 0, 0, -1.0, u'2013-08-13 06:03:42', u'2013-08-14 05:41:20', u'13011352CF10A', u'2013-08-13', None, 1.0, u'F', u'Aggravated Assault w/Firearm', 0, None, None, u'O', None, None, None, None, None, 0, None, None, None, None, None, u'Risk of Violence', 1, u'Low', u'2013-08-14', u'Risk of Recidivism', 1, u'Low', u'2013-08-14'),
 (2, u'michael ryan', u'michael', u'ryan', u'2014-12-31', u'Male', u'1985-02-06', 31, u'25 - 45', u'Caucasian', 0, 5, 0, 0, 0, None, None, None, None, None, None, None, u'O', None, -1, None, None, u'O', None, None, None, None, None, 0, None, None, None, None, None, u'Risk of Violence', 2, u'Low', u'2014-12-31', u'Risk of Recidivism', 5, u'Medium', u'2014-12-31'),
 (3, u'kevon dixon', u'kevon', u'dixon', u'2013-01-27', u'Male', u'1982-01-22', 34, u'25 - 45', u'African-American', 0, 3, 0, 0, 0, -1.0, u'2013-01-26 03:45:27', u'2013-02-05 05:36:53', u'13001275CF10A', u'2013-01-26', None, 1.0, u'F', u'Felony Battery w/Prior Convict', 1, None, u'13009779CF10A', u'F', None, u'2013-07-05', u'Felony Battery (Dom Strang)', None, None, 1, None, u'13009779CF10A', u'(F3)', u'2013-07-05', u'Felony Battery (Dom Strang)', u'Risk of Violence', 1, u'Low', u'2013-01-27', u'Risk of Recidivism', 3, u'Low', u'2013-01-27'),
 (4, u'ed philo', u'ed', u'philo', u'2013-04-14', u'Male', u'1991-05-14', 24, u'Less than 25', u'African-American', 0, 4, 0, 1, 4, -1.0, u'2013-04-13 04:58:34', u'2013-04-14 07:02:04', u'13005330CF10A', u'2013-04-13', None, 1.0, u'F', u'Possession of Cocaine', 1, None, u'13011511MM10A', u'M', 0.0, u'2013-06-16', u'Driving Under The Influence', u'2013-06-16', u'2013-06-16', 0, None, None, None, None, None, u'Risk of Violence', 3, u'Low', u'2013-04-14', u'Risk of Recidivism', 4, u'Low', u'2013-04-14'),
 (5, u'marcu brown', u'marcu', u'brown', u'2013-01-13', u'Male', u'1993-01-21', 23, u'Less than 25', u'African-American', 0, 8, 1, 0, 1, None, None, None, u'13000570CF10A', u'2013-01-12', None, 1.0, u'F', u'Possession of Cannabis', 0, None, None, u'O', None, None, None, None, None, 0, None, None, None, None, None, u'Risk of Violence', 6, u'Medium', u'2013-01-13', u'Risk of Recidivism', 8, u'High', u'2013-01-13')]

In [34]:
#Research Questions 

#1)	What is the distribution of risk assessment scores across race? 
#a.	How does the distribution look for violent risk assessment scores across race?
#2)	Does the risk assessment score correlate with actual recidivism? 
#a.	Is this true for violent risk assessment scores that predict violent recidivism? 
#b.	What is the breakdown of recidivism by race? 
#3)	Are there some crimes that correspond to certain risk scores? 
#a.	Are felony crimes consistently associated with higher or lower risk scores? What about non-felonies? 
#b.	Do some crimes correspond to a higher recidivism?

SyntaxError: invalid syntax (<ipython-input-34-3915a0e83fbe>, line 1)

In [5]:
%%sql 
Select count(distinct(c_charge_desc))
From Scores

Done.

[(531,)]

In [32]:
%%sql 
-- Figure 3.1: Looking at the number of distinct charges each race has been charged with 
select count(distinct c_charge_desc) as Count_of_Charges, race 
from Scores
group by race

Done.

[(377, u'African-American'),
 (30, u'Asian'),
 (310, u'Caucasian'),
 (177, u'Hispanic'),
 (20, u'Native American'),
 (124, u'Other')]

In [84]:
%%sql 
--  Figure 3.2, creating a tables that shows percentage of each race in data set
select race, Count/(Total*1.0) as Ratio, Count
FROM (select count() as Total From Scores) Totals,
     (select race, count() as Count from Scores group by race) Counts

Done.

[(u'African-American', 0.49442885089733773, 5813),
 (u'Asian', 0.004933231266479544, 58),
 (u'Caucasian', 0.34745258144084373, 4085),
 (u'Hispanic', 0.09356128264012928, 1100),
 (u'Native American', 0.003402228459641065, 40),
 (u'Other', 0.0562218252955686, 661)]

In [33]:
%%sql 
-- Number of recidivists for every score in every race 
select decile_score as Score, race, count(is_recid) as Count of 
from scores 
where is_recid = "1" and decile_score >0 -- shows us how many who scored high on decile score actually were recidivists
group by race, decile_score

-- look at low decile scores for white and black and compare to recid category

Done.

[(1, u'African-American', 107),
 (2, u'African-American', 143),
 (3, u'African-American', 177),
 (4, u'African-American', 204),
 (5, u'African-American', 199),
 (6, u'African-American', 246),
 (7, u'African-American', 270),
 (8, u'African-American', 277),
 (9, u'African-American', 300),
 (10, u'African-American', 251),
 (1, u'Asian', 1),
 (3, u'Asian', 3),
 (5, u'Asian', 1),
 (6, u'Asian', 2),
 (7, u'Asian', 1),
 (8, u'Asian', 2),
 (10, u'Asian', 1),
 (1, u'Caucasian', 162),
 (2, u'Caucasian', 136),
 (3, u'Caucasian', 110),
 (4, u'Caucasian', 130),
 (5, u'Caucasian', 124),
 (6, u'Caucasian', 121),
 (7, u'Caucasian', 99),
 (8, u'Caucasian', 87),
 (9, u'Caucasian', 73),
 (10, u'Caucasian', 46),
 (1, u'Hispanic', 55),
 (2, u'Hispanic', 40),
 (3, u'Hispanic', 30),
 (4, u'Hispanic', 19),
 (5, u'Hispanic', 32),
 (6, u'Hispanic', 25),
 (7, u'Hispanic', 18),
 (8, u'Hispanic', 14),
 (9, u'Hispanic', 12),
 (10, u'Hispanic', 16),
 (3, u'Native American', 1),
 (4, u'Native American', 2),
 (6, u'Native American', 1),
 (7, u'Native American', 3),
 (8, u'Native American', 1),
 (9, u'Native American', 2),
 (10, u'Native American', 3),
 (1, u'Other', 30),
 (2, u'Other', 28),
 (3, u'Other', 17),
 (4, u'Other', 27),
 (5, u'Other', 14),
 (6, u'Other', 11),
 (7, u'Other', 6),
 (8, u'Other', 8),
 (9, u'Other', 6),
 (10, u'Other', 7)]

In [9]:
%%sql 
-- Figure 3.3: Table with count of recidvists who initially committed felony crimes with risk scores of 8 or higher 
select decile_score as score, race, count(is_recid) as Count_Recid, c_charge_desc
From scores
where score >= 8 and is_recid = "1" and c_charge_desc like "%felony%"
group by race, score, c_charge_desc

Done.

[(8, u'African-American', 1, u'Felony Battery'),
 (8, u'African-American', 3, u'Felony Battery w/Prior Convict'),
 (8, u'African-American', 5, u'Felony Driving While Lic Suspd'),
 (8, u'African-American', 2, u'Felony Petit Theft'),
 (9, u'African-American', 1, u'Felony Battery'),
 (9, u'African-American', 2, u'Felony Battery (Dom Strang)'),
 (9, u'African-American', 5, u'Felony Battery w/Prior Convict'),
 (9, u'African-American', 1, u'Felony Driving While Lic Suspd'),
 (9, u'African-American', 8, u'Felony Petit Theft'),
 (10, u'African-American', 2, u'Felony Batt(Great Bodily Harm)'),
 (10, u'African-American', 1, u'Felony Battery'),
 (10, u'African-American', 1, u'Felony Battery (Dom Strang)'),
 (10, u'African-American', 2, u'Felony Battery w/Prior Convict'),
 (10, u'African-American', 1, u'Felony Committing Prostitution'),
 (10, u'African-American', 1, u'Felony Driving While Lic Suspd'),
 (10, u'African-American', 1, u'Felony Petit Theft'),
 (8, u'Asian', 1, u'Felony Petit Theft'),
 (8, u'Caucasian', 1, u'Felony Battery (Dom Strang)'),
 (8, u'Caucasian', 1, u'Felony Battery w/Prior Convict'),
 (8, u'Caucasian', 2, u'Felony Petit Theft'),
 (9, u'Caucasian', 1, u'Felony Battery'),
 (9, u'Caucasian', 1, u'Felony Battery w/Prior Convict'),
 (9, u'Caucasian', 1, u'Felony Committing Prostitution'),
 (9, u'Caucasian', 7, u'Felony Petit Theft'),
 (10, u'Caucasian', 1, u'Felony Battery (Dom Strang)'),
 (8, u'Hispanic', 1, u'Felony Battery (Dom Strang)'),
 (8, u'Hispanic', 1, u'Felony Petit Theft'),
 (10, u'Hispanic', 1, u'Felony Petit Theft')]

In [13]:
%%sql
--Generates Table of number of recidivists who were arrested with no charge and had high risk assessement scores
SELECT race, decile_score as score, c_charge_desc, count(is_recid) as Count_Recid
FROM Scores 
WHERE score > 7 and is_recid = "1" and c_charge_desc like "%arrest%"
GROUP BY race, decile_score

Done.

[(u'African-American', 8, u'arrest case no charge', 49),
 (u'African-American', 9, u'arrest case no charge', 58),
 (u'African-American', 10, u'arrest case no charge', 48),
 (u'Caucasian', 8, u'arrest case no charge', 15),
 (u'Caucasian', 9, u'arrest case no charge', 12),
 (u'Caucasian', 10, u'arrest case no charge', 7),
 (u'Hispanic', 8, u'arrest case no charge', 6),
 (u'Hispanic', 9, u'arrest case no charge', 4),
 (u'Hispanic', 10, u'arrest case no charge', 5),
 (u'Native American', 9, u'arrest case no charge', 1),
 (u'Other', 8, u'arrest case no charge', 2),
 (u'Other', 10, u'arrest case no charge', 1)]

In [15]:
%%sql 
-- Figure 3.6 Number of non recidivists who had high risk scores and no intial charge
SELECT race, decile_score as score, c_charge_desc, count(is_recid) as Count_Non_Recid
FROM Scores 
WHERE score > 7 and is_recid = "0" and c_charge_desc like "%arrest%"
GROUP BY race, decile_score

Done.

[(u'African-American', 8, u'arrest case no charge', 65),
 (u'African-American', 9, u'arrest case no charge', 74),
 (u'African-American', 10, u'arrest case no charge', 66),
 (u'Caucasian', 8, u'arrest case no charge', 13),
 (u'Caucasian', 9, u'arrest case no charge', 22),
 (u'Caucasian', 10, u'arrest case no charge', 6),
 (u'Hispanic', 8, u'arrest case no charge', 6),
 (u'Hispanic', 9, u'arrest case no charge', 4),
 (u'Hispanic', 10, u'arrest case no charge', 3),
 (u'Native American', 10, u'arrest case no charge', 1),
 (u'Other', 8, u'arrest case no charge', 1),
 (u'Other', 10, u'arrest case no charge', 2)]

In [6]:
%%sql 
-- Tables shows individuals with low decile scores and the corresponding number violent decile scores over 5
--individuals in those groups received
Select decile_score, race, count(v_decile_score) -- change ot is violent recid
FROM Scores 
where decile_score < 5 and decile_score != -1 and v_decile_score > 5
group by race, decile_score

Done.

[(2, u'African-American', 3),
 (3, u'African-American', 36),
 (4, u'African-American', 105),
 (2, u'Caucasian', 2),
 (3, u'Caucasian', 19),
 (4, u'Caucasian', 63),
 (3, u'Hispanic', 12),
 (4, u'Hispanic', 12),
 (3, u'Native American', 1),
 (4, u'Native American', 1),
 (3, u'Other', 2),
 (4, u'Other', 19)]

In [20]:
%%sql 
-- Attempting to determine if number of prior charges correlates to recidivism
-- Looking at number of prior charges compared to count of those who recidivised 
SELECT race, count(priors_count), is_recid -- can take this out 
FROM Scores 
WHERE is_recid = 1 and priors_count > 0
GROUP BY race, is_recid
-- Why was it giving me the same number of cases for both columns?

Done.

[(u'African-American', 1835, 1),
 (u'Asian', 10, 1),
 (u'Caucasian', 846, 1),
 (u'Hispanic', 193, 1),
 (u'Native American', 11, 1),
 (u'Other', 105, 1)]

In [17]:
%%sql 
-- Shows if violent decile score actually correlates to violent recidivism 
-- Similar to Figure 2.3 in Project Write Up
SELECT race, v_decile_score, count(is_violent_recid)
FROM Scores 
WHERE is_violent_recid = "1"
GROUP BY race, v_decile_score

Done.

[(u'African-American', 1, 40),
 (u'African-American', 2, 40),
 (u'African-American', 3, 67),
 (u'African-American', 4, 56),
 (u'African-American', 5, 58),
 (u'African-American', 6, 79),
 (u'African-American', 7, 61),
 (u'African-American', 8, 49),
 (u'African-American', 9, 61),
 (u'African-American', 10, 30),
 (u'Asian', 4, 1),
 (u'Asian', 5, 1),
 (u'Asian', 6, 1),
 (u'Asian', 8, 1),
 (u'Caucasian', 1, 55),
 (u'Caucasian', 2, 30),
 (u'Caucasian', 3, 35),
 (u'Caucasian', 4, 30),
 (u'Caucasian', 5, 20),
 (u'Caucasian', 6, 23),
 (u'Caucasian', 7, 16),
 (u'Caucasian', 8, 8),
 (u'Caucasian', 9, 14),
 (u'Caucasian', 10, 2),
 (u'Hispanic', 1, 10),
 (u'Hispanic', 2, 14),
 (u'Hispanic', 3, 9),
 (u'Hispanic', 4, 3),
 (u'Hispanic', 5, 6),
 (u'Hispanic', 6, 6),
 (u'Hispanic', 7, 1),
 (u'Hispanic', 8, 5),
 (u'Hispanic', 9, 3),
 (u'Hispanic', 10, 1),
 (u'Native American', 3, 1),
 (u'Native American', 5, 2),
 (u'Native American', 6, 1),
 (u'Native American', 9, 2),
 (u'Other', 1, 8),
 (u'Other', 2, 1),
 (u'Other', 3, 7),
 (u'Other', 4, 5),
 (u'Other', 5, 1),
 (u'Other', 6, 6),
 (u'Other', 7, 3),
 (u'Other', 8, 6),
 (u'Other', 9, 2),
 (u'Other', 10, 1)]

In [32]:
%%sql 
-- Following 4 cells calculate ratio of AA and Caucasians amongst those with a risk score of 1 or 10 
SELECT R_Count/(Ta_Count*1.0) as Rate_Of_AA_Low
FROM (select race, decile_score, count() as R_Count From Scores where decile_score = "1" and race like "%African%")AA_Count,
    (select race, decile_score, count() as Ta_Count From Scores where decile_score ="1")T_Count

Done.

[(0.2693053938688397,)]

In [31]:
%%sql 
SELECT R_Count_H/(Ta_Count_H*1.0) as Rate_of_AA_High
FROM (select race, decile_score, count() as R_Count_H From Scores where decile_score = "10" and race like "%African%")AA_Count_High,
    (select race, decile_score, count() as Ta_Count_H From Scores where decile_score ="10")T_Count_High

Done.

[(0.7704918032786885,)]

In [30]:
%%sql 
SELECT R_Count/(Ta_Count*1.0) as Rate_Of_C_Low
FROM (select race, decile_score, count() as R_Count From Scores where decile_score = "1" and race like "%Cauc%")C_Count,
    (select race, decile_score, count() as Ta_Count From Scores where decile_score ="1")Tc_Count

Done.

[(0.46255335661622043,)]

In [29]:
%%sql 
SELECT R_Count/(Ta_Count*1.0) as Rate_Of_C_High
FROM (select race, decile_score, count() as R_Count From Scores where decile_score = "10" and race like "%Cauc%")C_Count_H,
    (select race, decile_score, count() as Ta_Count From Scores where decile_score ="10")Tc_Count_H

Done.

[(0.14918032786885246,)]

In [14]:
%%sql 
-- These next four cells calculate the ratio for AA and Caucasians among individuals
-- who earned violent recidicism scores 1 and 10 
SELECT Count_V/(T_Count_V*1.0) as Rate_Of_AA_Low_V
FROM (select race, v_decile_score, count() as Count_V From Scores where v_decile_score = "1" and race like "%African%")AA_Count_V,
    (select race, v_decile_score, count() as T_Count_V From Scores where v_decile_score ="1")Total_V

Done.

[(0.29502828222685323,)]

In [17]:
%%sql 
SELECT Count_V_H/(T_VH*1.0) as Rate_Of_AA_High_V
FROM (select race, v_decile_score, count() as Count_V_H From Scores where v_decile_score = "10" and race like "%African%")AA_Count_VH,
    (select race, v_decile_score, count() as T_VH From Scores where v_decile_score ="10")Total_VH

Done.

[(0.78,)]

In [18]:
%%sql 
SELECT Count_V_C/(T_C_Count_V*1.0) as Rate_Of_C_Low_V 
FROM (select race, v_decile_score, count() as Count_V_C From Scores where v_decile_score = "1" and race like "%Cauc%")C_Viol_Count,
    (select race, v_decile_score, count() as T_C_Count_V From Scores where v_decile_score ="1")Total_Viol

Done.

[(0.47633224173861266,)]

In [20]:
%%sql 
SELECT Count_V_C_High/(Total_Count_V_H*1.0) as Rate_Of_C_V_High
FROM (select race, v_decile_score, count() as Count_V_C_High From Scores where v_decile_score = "10" and race like "%Cauc%") C_Count_V_H,
    (select race, v_decile_score, count() as Total_Count_V_H From Scores where v_decile_score ="10")Total_C_V_High

Done.

[(0.14,)]